include LICENSE
include README.md
include requirements.txt
graft aiochclient
graft myscaledb
graft docs
graft tests.py
global-exclude *.pyc
global-exclude *.pyd
global-exclude *.so
global-exclude *.lib
global-exclude *.dll
global-exclude *.a
global-exclude *.obj
prune docs/_build
prune dev-requirements
